<div class="answer">
  <div class="answer-child">
  </div>
</div>

<%# <% @results.each do |result| %>
  <%# <% if result.bake == 1%>
    <%# <span>ベイクドチーズケーキ：〇</span> %>
  <%# <%else%> 
    <%# <span>ベイクドチーズケーキ：×</span> %>
  <%# <br> %>
<%# <% end %> 
<%= link_to "トップページ", root_path%>
<%= link_to "Excel出力", result_path(@results, format: :xlsx) %>

