<div class="main">
  <div class="top-text">
    <%if @forms.name%>
    <span><%=@forms.name%>さん</span>
    <%end%>
    <br>
    <br>
    <span>アンケートのご協力ありがとうございます!</span>
    <br>
    <br>
    <span>いただいたご意見を参考に致しまして,より良いサービスを<span>
    <br>
    <span>ご提供できるよう努力致します。</span>
    <br>
    <br>
    <span>またのお越しを心よりお待ち致しております。</span>
  </div>