// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
  margin: 0 auto;
  width: 1300px;
  height: 1500px;
  background-color: bisque;
  .top-text
  {
    margin: 0 auto;
    width: 800px;
    height: 300px;
    font-size: 27px;
  }
  .question
  {
    width: 800px;
    height: 200px;
    margin: 0 auto;
    .questionBlock
    {
      font-size: 20px;
      textarea
      {
        width: 300px;
        height: 100px;
      }
    }
    .questionPersol
    {
      padding: 20px;
      border: 1px black solid;
      font-size: 20px;
      .up
      {
        display: flex;
        .name
        {
          width: 400px;
          height: 100px;
        }
      }
      .middle
      {
        textarea
        {
          width: 500px;
          height: 50px;
          margin-top: 15px;
        }
      }
      .low
      {
      }
    }
  }
}